.image{
    border: blue solid 2px;
    border-radius: 2rem;
}
.smurf-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    width:25%;
    box-shadow: 5px 5px 5px 5px #DCDEE6;
    border-radius: 10px;
}
.containerss{
    display:flex;
    justify-content: center;
    margin:1rem;
    flex-wrap: wrap;
}
.remove-button{
    background-color: #62CDFD;
    padding: .5rem 2rem;
    border: blue solid 1px;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    margin: 1rem;
    text-shadow: -1px -1px 0 blue, 1px 1px 0 blue, 0 -1px 0 blue,
	0 1px 0 blue, 1px -1px 0 blue, -1px 1px 0 blue, 1px 0 0 blue,
    -1px 0 0 blue; 
    color:white;
}
.remove-button:hover{
    background: linear-gradient(to right, blue, #62CDFD);
    border: #62CDFD solid 1px;
    border: blue solid 1px;   
}
.text{
    background-color: #62CDFD;
    padding: .5rem 2rem;
    border: blue solid 1px;
    color: white;
    font-size: 1rem;
    margin-top: .5rem;
    text-shadow: -1px -1px 0 blue, 1px 1px 0 blue, 0 -1px 0 blue,
	0 1px 0 blue, 1px -1px 0 blue, -1px 1px 0 blue, 1px 0 0 blue,
    -1px 0 0 blue; 
    color:white;
    letter-spacing: 2px;
}
.name{
    margin-bottom: 0rem;
}